# source
git /extensions/FreeImage                    https://github.com/OpenEngineDK/extensions-FreeImage.git
git-dev /extensions/FreeImage                    git@github.com:OpenEngineDK/extensions-FreeImage.git

# windows lib
win32 /libraries http://openengine.dk/data/libraries/FreeImage-win32.zip



